#vscode files
.vscode/*

#stringmlst temp files
db/lp_*
db/lp.log
db/config.txt

el_gato/db/lp_*
el_gato/db/lp.log
el_gato/db/config.txt

#igv index file
el_gato/db/ref_gene_regions.fna.fai

# build files
build/
elgato.egg-info/
el_gato/__pycache__/
el_gato/elgato.egg-info/
