params {
	read1 = "None"
	read2 = "None"
	assembly = "/mnt/g/SynologyDrive/IHRC/work/ABiL/help_Dev_el_gato/Simple_eg/D1071_MD-1984-CS-ST1_160421_PRS_pipeline_S1_L001_R1_001.fastq.gz_output_scaffolds.fasta"
	threads = 1
	out_prefix = "out"
	sample_name = "D1071_MD-1984-CS-ST1_160421_PRS"
	log = "out/run.log"
	sbt = "/mnt/g/SynologyDrive/IHRC/work/ABiL/help_Dev_el_gato/el_gato/el_gato/db"
	suffix = "_alleles.tfa"
	profile = "/mnt/g/SynologyDrive/IHRC/work/ABiL/help_Dev_el_gato/el_gato/el_gato/db/lpneumophila.txt"
	verbose = "False"
	overwrite = "True"
	depth = 3
	analysis_path = ""
	logging_buffer_message = ""
}
