/* nextflow.config
executor {
    name = 'sge'
    queueSize = 100
}

profiles {

gpu {
   process {
     queue	 = 'gpu.q'
   }

 }
}


env {
    TMPDIR = "$HOME/tmp"
}
*/

process {

    withName: "el_gato" {
      container = 'library://vchivukula/collection/elgato:latest'
    }
    
}


profiles {
  sge {
    process {
      executor = 'sge'
      penv = 'smp'
      queue = 'all.q'
      }
      
    executor {
      queueSize = 24
    }
  }

  singularity {        
    singularity.enabled=true        
    singularity.autoMounts = true
    singularity.cacheDir = "$HOME/cache/"
  }
}

